
input{
    height: 30px;
    width: 40%;
    border-radius: 5px;
    border-color: blue;
}
button {
    height: 30px;
    width: 50px;
    background-color: darkslategrey;
    color: white;
}

.user{
    padding: 20px;
    width: 150px;
    height: 150px;
    border: 3px solid gray;
    margin: 4px;
}
.user-container{
    display: flex;
    justify-content: center;
}
